$border_color: rgba(0,0,0,.1);
$day_color: rgba(0,0,0,.5);
$day_background: rgba(255,255,255,1);
$faded_color: rgba(0,0,0,.2);
$weekend_background: rgba(0,0,0,.03);
$weekday_name_background: rgba(0,0,0,.1);
$reminder_backgroud: blue;
$reminder_color: white;

.calendar {
  text-align: center;
  min-width: 400px;
  font-family: Arial, Helvetica, sans-serif;
}

.calendar-month {
  display: grid;
  font-size: 12px;
  border: 1px solid $border_color;
  grid-template-rows: 2em repeat(5, minmax(100px, auto));
  grid-template-columns: repeat(7, 14.28% [col-start]);

  @media screen and (min-width: 600px) {
    font-size: 2vw;
  }

  @media screen and (min-width: 800px) {
    font-size: 16px;
  }
}

.calendar-day {
  padding: 5px;
  text-align: left;
  color: $day_color;
  font-weight: bold;
  background: $day_background;
  border: 1px solid $border_color;

  &.is-title {
    background: $weekday_name_background;
  }

  &.is-weekend {
    background: $weekend_background;
  }

  &.is-faded {
    color: $faded_color;
  }

  &.is-selected {
    box-shadow: inset 0 0 0 1px rgb(107, 214, 251);
  }

  &.is-current {
    color: black;
  }
}

.calendar-reminder {
  display: block;
  border-radius: 2px;
  margin: 2px 4px 2px;
  padding: 2px 4px;
  font-size: .7em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: $reminder_backgroud;
  color: $reminder_color;
}

.calendar-form {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255,255,255,.9);
  bottom: 0;
  padding: 50px;
  z-index: 1;
  font-size: 14px;

  fieldset {
    border: none;
    padding: 1em 2em;
  }

  label {
    width: 200px;
    text-align: right;
    display: inline-block;
    padding-right: 1em;
  }

  input {
    width: 200px;
    padding: 1em 2em;
    border-radius: 2px;
    box-shadow: none;
    border: 1px solid rgba(0,0,0,.2);
  }

  button {
    background: rgba(0,0,0,.1);
    padding: 1em 2em;
    border-radius: 2px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-left: 1em;

    &.is-submit {
      background: #52c85a;
      color: white;

      &:hover {
        background: #40a346;
      }
    }
  }
}

.calendar-add {
  background: #52c85a;
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  line-height: 60px;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  position: absolute;
  bottom: 50px;
  right: 50px;
  cursor: pointer;

  &:hover {
    background: #42b84a;
  }
}

@mixin arrow($color) {
  border: solid $color;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.calendar-navbar {
  display: flex;
  padding: 1em;

  button {
    cursor: pointer;
    border: none;
  }
}

.calendar-title {
  flex-grow: 1;
  font-weight: bold;
}

.arrow-left {
  @include arrow(currentColor);
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrow-right {
  @include arrow(currentColor);
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
